div#Title {
	color: #686666;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 23px;
}

.text {
	margin-right: 35px;
}

.text a {
	color: #A3A3A3;
	text-decoration:none; 
}

.text span {
	text-decoration:none; 
}

div#Articles {
	padding-top: 18px;
	font-family: Century Gothic, sans-serif;
}


p.zf {
	background-color: #000000;
	color: #C0C0C0;
}

