form#commentForm {
	width: 200px;
	color: #919191;
}

form#commentForm dd {
	margin: 0px;
}

form#commentForm dt {
	margin-top: 10px;
}

form#commentForm input {
	width: 200px;
	border: 1px #919191 solid;
	color: #919191;
}

form#commentForm textarea {
	width: 200px;
	border: 1px #919191 solid;
	color: #919191;
}
form#commentForm .error {
	color: red;
}
